<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>About Us: "We 5"</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto&subset=latin,devanagari'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="css/masters.css">
	<link rel="stylesheet" href="font/flaticon.css">
</head>

<body class="animate">
	<audio autoplay>
		<source src="introMusic.mp3" type="audio/mpeg">
	</audio>


		  <header class="navbar-fixed">
		    <nav class="row deep-purple darken-3">
		      <div class="col s12">
		        <ul class="right">
		          <li class="right">
		            <a href="About-Us.html" target="_self"style="font-size:20px;"><i class="fa fa-rss" aria-hidden="true" style="font-size:20px;  margin-right:5px; "></i>About Us</a>
		          </li>
		          <li class="right">
		            <a href="" target="_self" style="font-size:20px;"><i class="fa fa-phone-square" aria-hidden="true" style="font-size:20px;  margin-right:5px;"></i>  Contact Us</a>
		          </li>
		          <li class="right">
		            <a href="info.html" target="_self"style="font-size:20px;"><i class="fa fa-info-circle" aria-hidden="true" style="font-size:20px; margin-right:5px; "></i>Informatics</a>
		          </li>
		          <li class="right">
		            <a href="work.html" target="_self"style="font-size:20px;"><i class="fa fa-briefcase" aria-hidden="true" style="font-size:20px; margin-right: 5px;"></i>How it works?&trade;</a>
		          </li>
		          <li class="right">
		            <a href="idea.html" target="_self"style="font-size:20px;"><i class="fa fa-lightbulb" aria-hidden="true" style="font-size:20px; margin-right: 5px;"></i>The Idea Behind&trade;</a>
		          </li>
		          <li class="right">
		            <a href="ouraim.html" target="_self"style="font-size:20px;"><i class="fa fa-rocket" aria-hidden="true" style="font-size:20px; margin-right: 5px;"></i>Our Aim&trade;</a>
		          </li>
		          <li class="right">
		            <a href="index.html" target="_self"style="font-size:20px;"><i class="fa fa-home" aria-hidden="true" style="font-size:20px; margin-right: 5px;"></i>Home</a>
		          </li>
		        </ul>
		      </div>
		    </nav>
		  </header>
    <section class="team-page-section">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Our Team</div>
                <div class="separator"><span></span></div>
                <h2>Bugss-403</h2>
            </div>

            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/samarth.srivastava.73"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/Samarth_Sri9"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://github.com/Samarth484"><i class="fab fa-github"></i></a></li>

                            <li><a href="https://www.linkedin.com/in/samarth-srivastava-14ab4b101//"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="/img/samarth.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Samarth Srivastava </a></h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100005672537908"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/Pndshubham1"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://github.com/ShubhamPnd"><i class="fab fa-github"></i></a></li>

                            <li><a href="https://www.linkedin.com/in/shubham-pandey-553b11198?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbLRENHSNTR20Lp4hMZE4CQ%3D%3D"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="img/shubham.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Shubham Pandey </a></h3>

                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/profile.php?id=100009273103994"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/AngrishVidhi"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://github.com/vd152"><i class="fab fa-github"></i></a></li>

                            <li><a href="https://www.linkedin.com/in/vidhi-angrish?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bt%2FBiF5xaQE%2BwSFcRQS5qQw%3D%3D"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="/img/vidhi.png" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Vidhi Angrish </a></h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/_roopamgarg"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://github.com/roopamgarg"><i class="fab fa-github"></i></a></li>

                            <li><a href="https://www.linkedin.com/in/roopamgarg1/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="img/roopam.jpeg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">Roopam Garg </a></h3>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-sm-12 ">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/shivender.pandey.39/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/Shivend14832767"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://github.com/ShivenderPandey"><i class="fab fa-github"></i></a></li>

                            <li><a href="https://www.linkedin.com/in/sp%C3%A3%C3%B1d%C3%ABy-sp-3ba066164"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="img/shivender.jfif" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#"> Shivender Kumar </a></h3>
                        </div>
                    </div>
                </div>

								<div class="team-block col-lg-4 col-sm-12 ">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="#"><img src="img/logo.jpeg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#"> Project COVITINE </a></h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</section>
<footer class="page-footer deep-purple darken-3">
	<div class="footer-copyright deep-purple darken-4">
		<div class="container">
				 <a href="https://bugs403.github.io/About-Us/" style="font-size: 18px;">&copy; 2020 Team Covitine</a>
				 <a href="" target="_self"><i class="flaticon-twitter" style="font-size:20px; margin-left:340px;" ></i></a>
				 <a href="" target="_self"><i class="fa fa-envelope" aria-hidden="true" style="font-size:20px; margin-left:25px;" ></i></a>
				 <a href="" target="_self"><i class="flaticon-facebook" style="font-size:20px; margin-left:25p:x"></i></a>
		</div>
	</div>
</footer>
</body>
</html>
