@import url(https://fonts.googleapis.com/css?family=PT+Sans);
 body {
	 font-family: "PT Sans", sans-serif;
	 
}

.heading-main h1 {
	display: block;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 8em;
	text-align: center;
	color: #000;
  }
  
  .heading-main h1 {
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(left, #a3dff7 0%, #2388a7 33%, #5b747e 66%, #24445c 100%);
	background-size: 700px;
	background-repeat: repeat;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-animation: gradient-move 1s linear infinite;
	animation: gradient-move 1.5s linear infinite;
  }
  
  .heading-main h1:hover {
	animation: gradient-move 0.3s linear infinite;
  }
  
  @keyframes gradient-move {
	0% {
	  background-position: 0 0; }
	100% {
	  background-position: 700px 0; } 
  }
  
  

.main-navigation-toggle {
	 position: fixed;
	 height: 1px;
	 width: 1px;
	 overflow: hidden;
	 clip: rect(1px, 1px, 1px, 1px);
	 white-space: nowrap;
}
 .main-navigation-toggle + label {
	 position: fixed;
	 top: calc(1rem * 1.5);
	 right: calc(1rem * 2);
	 cursor: pointer;
	 z-index: 2;
}
 .icon--menu-toggle {
	 --size: calc(1rem + 4vmin);
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: var(--size);
	 height: var(--size);
	 stroke-width: 6;
}
 .icon-group {
	 transform: translateX(0);
	 transition: transform calc(1s / 4) cubic-bezier(0.215, 0.61, 0.355, 1);
}
 .icon--menu {
	 stroke: rgb(19, 108, 167);
}
 .icon--close {
	 stroke: #f0f7ee;
	 transform: translateX(-100%);
}
 .main-navigation {
	 position: fixed;
	 top: 0;
	 left: 0;
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 transform: translateX(-100%);
	 transition: transform calc(1s / 4);
	 z-index: 1;
}
 .main-navigation:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgb(19, 108, 167);
	 transform-origin: 0 50%;
	 z-index: -1;
}
 .main-navigation ul {
	 font-size: 12vmin;
	 font-family: 'Merriweather', serif;
	 width: 100%;
}
 .main-navigation li {
	 --border-size: 1vmin;
	 display: flex;
	 align-items: center;
	 position: relative;
	 overflow: hidden;
}
 .main-navigation li:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: var(--border-size);
	 background-color: #f0f7ee;
	 transform-origin: 0 50%;
	 transform: translateX(-100%) skew(15deg);
}
 .main-navigation a {
	 display: inline-block;
	 width: 100%;
	 max-width: 800px;
	 margin: 0 auto;
	 color: #f0f7ee;
	 line-height: 1;
	 text-decoration: none;
	 user-select: none;
	 padding: 1rem calc(1rem * 2) calc(1rem + var(--border-size) / 2);
	 transform: translateY(100%);
}


 .main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
	 transform: translateX(100%);
}

 .main-navigation-toggle:checked ~ .main-navigation {
	 transition-duration: 0s;
	 transform: translateX(0);
}
 .main-navigation-toggle:checked ~ .main-navigation:after {
	 animation: nav-bg calc(1s / 4)cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation li:after {
	 animation: nav-line 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation a {
	 animation: link-appear calc(1s * 1.5) cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
	 animation-delay: calc((1s / 2) * 1 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
	 animation-delay: calc((1s / 2) * 2 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
	 animation-delay: calc((1s / 2) * 3 * 0.125);
}
 .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
	 animation-delay: calc((1s / 2) * 4 * 0.125);
}
 @keyframes nav-bg {
	 from {
		 transform: translateX(-100%) skewX(-15deg);
	}
	 to {
		 transform: translateX(0);
	}
}
 @keyframes nav-line {
	 0% {
		 transform: scaleX(0);
		 transform-origin: 0 50%;
	}
	 35% {
		 transform: scaleX(1.001);
		 transform-origin: 0 50%;
	}
	 65% {
		 transform: scaleX(1.001);
		 transform-origin: 100% 50%;
	}
	 100% {
		 transform: scaleX(0);
		 transform-origin: 100% 50%;
	}
}
 @keyframes link-appear {
	 0%, 25% {
		 transform: translateY(100%);
	}
	 50%, 100% {
		 transform: translateY(0);
	}
}
 
a:hover{
	text-decoration: none;
}
 .ask{
	border-top: 10px solid rgba(66, 176, 250, 0.5);
}

.ask h2{
	margin-top: 0.5em;
	color:rgb(12, 70, 109);
	font-weight: 500;
}

/* CSS Resets */
 aside, section, p, div, h1, h2, h3, h4, h5, h6 {
	 margin: 0;
	 padding: 0;
}
 aside {
	 display: block;
}
/* Common Styles */
 .review{
	 background-color: #fff;
	 padding: 10px;
	 color: #191919;
	 font-weight: bold;
	 border: none;
	 border-radius: 3px;
	 margin: 2px;
}
 .review:hover {
	 color: #fff;
	 cursor: pointer;
	 outline: none;
	 background-color: rgba(128, 197, 201 ,1);
}
/* Custom Styles */
 .layout {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 margin-top: 3%;
}
 aside {
	 color: #fff;
	 width: 20%;
	 text-align: center;
	 padding: 0 5%;
}
 aside .desc {
	 font-size: 0.8rem;
}
 .post {
	 background: #fff;
	 box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
	 width: 500px;
	 color: #191919;
	 display: flex;
	 flex-direction: column;
	 margin: 0;
}
 .post .info {
	 padding: 10px 20px;
	 margin: 0;
	 border-bottom: 1px solid #d4d4d4;
}
 .post .info .user {
	 font-weight: bold;
	 text-decoration: none;
	 color: #191919;
}
 .post .post-header {
	 padding: 10px 20px 0;
	 display: flex;
	 flex-direction: row;
	 width: 100%;
	 justify-content: flex-start;
}
 .post .post-header .content {
	 width: 90%;
	 padding: 8px 0;
}
 .post .post-header .content .title, .post .post-header .content .updated {
	 color: #a4a5a5;
	 font-size: 0.9rem;
	 font-weight: normal;
}
 .post .post-header .avatar-wrapper {
	 width: 15%;
	 padding: 10px 0;
	 margin: 0;
}
 .post .post-header .avatar-wrapper .avatar {
	 width: 60px;
	 height: 60px;
	 border-radius: 50%;
}
 .post .post-content {
	 margin: 0;
	 padding: 10px 20px 5px;
	 color: #181818;
}
 .post .post-content .stats {
	 padding: 10px 0;
	 color: #a4a5a5;
	 font-size: 0.8rem;
	 font-weight: normal;
	 border-bottom: 1px solid #d5d5d5;
}
 .post .post-comment-feed {
	 background: rgba(164, 226, 230,0.5);
	 padding: 20px;
}
 .post .post-comment-feed .add-comment, .post .post-comment-feed .comment {
	 display: flex;
	 flex-direction: row;
	 justify-content: flex-start;
	 margin-bottom: 10px;
}
 .post .post-comment-feed .add-comment .avatar-wrapper, .post .post-comment-feed .comment .avatar-wrapper {
	 margin: 0;
	 padding: 0;
}
 .post .post-comment-feed .add-comment .avatar, .post .post-comment-feed .comment .avatar {
	 width: 30px;
	 height: 30px;
	 border: 1px solid #fff;
	 border-radius: 50%;
}
 .post .post-comment-feed .add-comment .textfield, .post .post-comment-feed .comment .content {
	 padding: 0 10px;
}
 .post .post-comment-feed .comment .content .user {
	 font-weight: bold;
	 font-size: 0.9rem;
}
 .post .post-comment-feed .comment .content .text {
	 font-size: 0.9rem;
	 color: #181818;
}
 .post .post-comment-feed .comment .content .updated {
	 font-size: 0.8rem;
	 color: #181818;
	 font-weight: normal;
}
 .post .post-comment-feed .add-comment .textfield {
	 background: #fff;
	 margin-left: 10px;
	 padding-right: 0;
	 border: 1px solid #f4f4d4;
}
 .post .post-comment-feed .add-comment .textfield::before {
	 position: absolute;
	 content: "";
	 width: 0;
	 height: 0;
	 border-left: none;
	 border-top: 10px solid transparent;
	 border-bottom: 10px solid transparent;
	 border-right: 10px solid #fff;
	 margin-left: -18px;
	 margin-top: 5px;
}
 .post .post-comment-feed .add-comment .textfield .btn {
	 font-size: 1rem;
	 padding: 5px;
}
 .post .post-comment-feed .add-comment .textfield .btn:hover {
	 background: none;
	 color: #192e4d;
}
 .post .post-comment-feed .add-comment .textfield input[type="text"] {
	 border: none;
	 font-size: 0.8rem;
	 width: 350px;
	 outline: none;
	 line-height: 1rem;
}


.content {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: wrap;
	max-width: 1000px;
}


.card {
	color: inherit;
	cursor: pointer;
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: 400px;
	min-height: 400px;
	perspective: 1000px;
	margin: 1rem;
	position: relative;
}
@media screen and (max-width: 800px) {
	.card {
		width: calc(50% - 2rem);
   }
}
@media screen and (max-width: 500px) {
	.card {
		width: 100%;
   }
}
.front, .back {
	display: flex;
	border-radius: 6px;
	background-position: center;
	background-size: cover;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
}
.front {
	background-size: cover;
	padding: 2rem;
	font-size: 1.618rem;
	box-sizing: border-box;
	font-weight: 600;
	color: #fff;
	overflow: hidden;
	font-family: Poppins, sans-serif;
}
.front:before {
	position: absolute;
	display: block;
	box-sizing: border-box;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
	opacity: 0.25;
	z-index: -1;
}
.card:hover .front {
	transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
	transform: rotateY(-180deg);
}
.back {
	background: #fff;
	transform: rotateY(-180deg);
	padding: 0 2em;
}
.back .button {
	background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
	box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
	background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
	transform: rotateY(0deg);
}
.card:nth-child(even) .back {
	transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
	background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
	box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
	background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
	transform: rotateY(0deg);
}
.button {
	transform: translateZ(40px);
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: bold;
	color: #fff;
	padding: 0.5em 1em;
	border-radius: 100px;
	font: inherit;
	border: none;
	position: relative;
	transform-style: preserve-3d;
	transition: 300ms ease;
}
.button:before {
	transition: 300ms ease;
	position: absolute;
	display: block;
	content: '';
	transform: translateZ(-40px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border-radius: 100px;
	left: 10px;
	top: 16px;
}
.button:hover {
	transform: translateZ(55px);
}
.button:hover:before {
	transform: translateZ(-55px);
}
.button:active {
	transform: translateZ(20px);
}
.button:active:before {
	transform: translateZ(-20px);
	top: 12px;
}


/*---------------- FOOTER *----------------*/

footer {
	background-color: rgb(19, 108, 167);
	color:  #fff;
	font-size: 1.5em;
	text-align: center;
	padding:3%;
  }
 
  .address-container{
	  display: inline-block;
	  margin: 0 auto;
  }
  .footer-links a{
	  color: rgb(160, 218, 252);
  }
  .footer-links a:hover{
	color: rgb(139, 208, 248);
}
  .btn-default {
	  color: #333;
	  background-color: #fff;
	  border-color: transparent!important;
  }
  .fa-heart {
	color:#f32323;
  }
  h4.author
  {
	letter-spacing:4px;
  }
  hr.footer-hr
  {
	width:150px;
  }
  hr.copyright
  {
	opacity:0.4;
  }
 